.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
  background-color: #f5f6fa;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0px 2px 20px rgb(183 183 183 / 32%);
}

.header-side-ltr {
  display: flex;
  cursor: pointer;
}

.menu-icon-wrapper {
  padding: 0 32px 0 48px;
}

.menu-icon {
  width: 24px;
}

.menu-title-wrapper {
  padding: 0 32px;
}

.menu-title {
}

.header-side-rtl {
  display: flex;
  direction: rtl;
  cursor: pointer;
}

.avatar-icon-wrapper {
  padding: 0 32px;
}

.avatar-icon {
  width: 38px;
  border-radius: 50%;
  margin: 0 12px;
}

.wave-icon {
  width: 40px;
  height: 28px;
  margin: 0 16px;
}

.search-icon {
  width: 24px;
  height: 28px;
  margin: 0 24px;
}
