.buttons-page-wrapper {
  display: flex;
  align-items: center;
  /* overflow: auto; */
  direction: ltr;
}

.buttons-page-size-item {
  margin: 4px;
}

.buttons-social-page-title {
  font-size: 13px;
  margin: 12px 8px;
}
