.btn {
  padding: 0 12px;
  box-shadow: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.15s ease;
}

.btn-primary {
  background: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  border: 1px solid #e14eca;
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #e14eca;
}

.btn-outline-primary {
  background-color: #fff;
  border: 1px solid #e14eca;
  color: #e14eca;
}

.btn-default {
  background: #344675;
  background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
  border: 1px solid #344675;
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #344675;
}

.btn-outline-default {
  background-color: #fff;
  border: 1px solid #344675;
  color: #344675;
}

.btn-info {
  background: #1d8cf8;
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
  border: 1px solid #1d8cf8;
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #1d8cf8;
}

.btn-outline-info {
  background-color: #fff;
  border: 1px solid #1d8cf8;
  color: #1d8cf8;
}

.btn-success {
  background: #00f2c3;
  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
  border: 1px solid #00f2c3;
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #00f2c3;
}

.btn-outline-success {
  background-color: #fff;
  border: 1px solid #00f2c3;
  color: #00f2c3;
}

.btn-warning {
  background: #ff8d72;
  background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
  border: 1px solid #ff8d72;
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #ff8d72;
}

.btn-outline-warning {
  background-color: #fff;
  border: 1px solid #ff8d72;
  color: #ff8d72;
}

.btn-danger {
  background: #fd5d93;
  background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
  border: 1px solid #fd5d93;
  background-size: 210% 210%;
  background-position: 100% 0;
  background-color: #fd5d93;
}

.btn-outline-danger {
  background-color: #fff;
  border: 1px solid #fd5d93;
  color: #fd5d93;
}

.btn:hover {
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.btn:disabled {
  background: #e2e2e2;
  color: #fafafa;
  cursor: not-allowed;
  border: 1px solid #e5e5e5;
}

.btn-xs-size {
  min-width: 80px;
  height: 28px;
  font-size: 13px;
  border-radius: 6px;
  overflow: hidden;
}

.btn-sm-size {
  min-width: 128px;
  height: 42px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-md-size {
  min-width: 144px;
  height: 48px;
  font-size: 17px;
  border-radius: 8px;
  overflow: hidden;
}

.btn-lg-size {
  min-width: 168px;
  height: 58px;
  font-size: 19px;
  border-radius: 9px;
  overflow: hidden;
}

.btn-xl-size {
  min-width: 188px;
  height: 68px;
  font-size: 21px;
  border-radius: 10px;
  overflow: hidden;
}

.btn-full-size {
  width: 100%;
  height: 48px;
  font-size: 16px;
  border-radius: 9px;
  overflow: hidden;
}

.btn-none-size {
  width: 100%;
  height: 100%;
}

.btn-rounded-styles {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btn-littleRound-styles {
  border-radius: 40px;
}

.btn-cancel {
  border: 1px solid var(--themBtnBgPrimary);
  background: #ffffff;
  color: var(--themBtnBgPrimary);
  cursor: pointer;
}

.btn-cancel:hover {
  border: 1px solid var(--color11);
  color: var(--color11);
  background-color: #ffffff;
}

.btn-cancel:disabled {
  border: 1px solid var(--themDisableBgColor);
  color: var(--themIconDisableTextColor);
  cursor: not-allowed;
}

.button-icon-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.button-icon-item-wrapper {
  position: absolute;
  left: 2px;
}

.button-icon-item {
  width: 17px;
}

.button-icon-center-item-wrapper {
}

.button-icon-center-item {
  width: 20px;
}

.btn-twitter {
  background: #55acee;
  background-image: linear-gradient(to bottom left, #55acee, #147bc9, #55acee);
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #55acee;
}

.btn-facebook {
  background: #3b5998;
  background-image: linear-gradient(to bottom left, #3b5998, #1e2e4f, #3b5998);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #3b5998;
}

.btn-google {
  background: #dd4b39;
  background-image: linear-gradient(to bottom left, #dd4b39, #96271a, #dd4b39);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #dd4b39;
}

.btn-linkedin {
  background: #0077b5;
  background-image: linear-gradient(to bottom left, #0077b5, #00344f, #0077b5);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #0077b5;
}

.btn-pinterest {
  background: #cc2127;
  background-image: linear-gradient(to bottom left, #cc2127, #741316, #cc2127);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #cc2127;
}

.btn-youtube {
  background: #e52d27;
  background-image: linear-gradient(to bottom left, #e52d27, #941612, #e52d27);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #e52d27;
}

.btn-tumblr {
  background: #35465c;
  background-image: linear-gradient(to bottom left, #35465c, #10151b, #35465c);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #35465c;
}

.btn-github {
  background: #333;
  background-image: linear-gradient(to bottom left, #333, #000, #333);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #333;
}

.btn-behance {
  background: #1769ff;
  background-image: linear-gradient(to bottom left, #1769ff, #003eb0, #1769ff);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #1769ff;
}

.btn-dribble {
  background: #ea4c89;
  background-image: linear-gradient(to bottom left, #ea4c89, #ba1655, #ea4c89);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #ea4c89;
}

.btn-reddit {
  background: #ff4500;
  background-image: linear-gradient(to bottom left, #ff4500, #992900, #ff4500);
  color: #fff;
  background-size: 210% 210%;
  background-position: 100% 0;
  border: 1px solid #ff4500;
}

.btn-sm-244-size {
  min-width: 244px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-sm-176-size {
  min-width: 176px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-sm-227-size {
  min-width: 227px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-sm-168-size {
  min-width: 168px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-sm-218-size {
  min-width: 218px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-sm-144-size {
  min-width: 144px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}

.btn-sm-160-size {
  min-width: 144px;
  height: 40px;
  font-size: 14px;
  border-radius: 7px;
  overflow: hidden;
}
